header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

p {
  font-size: 32px;
  color: blue;
  font-weight: bold;
  display: inline-block;
}

ul {
  display: flex;
}

li {
  color: blue;
  font-weight: bold;
}

li:not(last-child) {
  margin-right: 30px
}

main {
  margin-top: 90px;
  position: relative;
}

h1 {
  font-size: 64px;
  font-weight: lighter;
  padding-top: 290px;
}

.back {
  background-color: navy;
  height: 180px;
  margin-right: 400px;
}

img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
}